.login-page { 
    border: 2px solid rgba(225, 225, 225, .2)
}
.input-username { 
     border: 2px solid rgba(225, 225, 225, .2);
     border-radius: 20px;

}

.input-username::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.button-login {
    border-radius: 20px;
    font-weight: 600;
}